// Styles for app header
@import './../../App.scss';

@media screen and (max-width: 768px) {
	#menu-toggle:checked + .nav-menu {
		display: block;
	}
}
.navbar-low-line {
	border-bottom: solid 1px;
	border-bottom-color: $primary;
}

.navbar-dropdown > navbar-item {
	border: $primary;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
