@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import '../node_modules/bulma/bulma';

$family-sans-serif: 'Nunito', sans-serif;
$dark: #28b463;
$light: #edeee5;
$grey-dark: #454545;
$grey-light: #666666;
$primary: #1d1d35;
$link: #007dc5;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: #f8f8f8;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-height: 60px;
$isDark: false;

html,
#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  scroll-behavior: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 9px;
}

Track ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 6px;
  background: rgba(40, 180, 99, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(40, 180, 100, 0.6);
}

a:hover {
  background-color: transparent !important;
}

.is-scroll {
  width: auto;
  max-height: max-content;
  height: 45vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fav-icon {
  pointer-events: all;
  cursor: pointer;
}

* {
  pointer-events: all;
}


.bubble {
  max-width: 95%;
  margin: 10px auto;
  background: if($isDark, $dark, $light);
  padding: 10px;
  text-align: left;
  color: if($isDark, $light, $isDark);
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

.navbar-low-line {
  border-bottom: solid 1px;
  border-bottom-color: $primary;
}

.navbar-dropdown > .navbar-item {
  border: $primary;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.side-bar-custom {
  border-right: solid 1px;
  background-color: if($isDark, $dark, $light);
  height: #{100%};

  .links {
    color: if($isDark, $light, $dark);
  }

  .prima-links {
    margin: 5px;
    color: if($isDark, $light, $dark);
    font-size: $size-5;
  }

  .mega-links {
    margin: 5px;
    color: if($isDark, $light, $dark);
    font-size: $size-4;
  }
}

.is-fixed-width {
  min-width: 280px;
  width: 10%;
}

.is-max-height {
  min-height: calc(100vh - (#{$navbar-height} - 0.75rem));
  max-height: calc(100vh - (#{$navbar-height} - 0.75rem));
  height: calc(100vh - (#{$navbar-height} - 0.75rem));
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .column {
    overflow-y: unset;
  }
}
