@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;
$dark: #28b463;
$light: #edeee5;
$grey-dark: #454545;
$grey-light: #666666;
$primary: #1d1d35;
$link: #007dc5;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: #f8f8f8;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html,
#root {
	height: 100vh;
}

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

@import '../node_modules/bulma-extensions/';
